<h1>Listing gists</h1>

<table>
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Numeralbumu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td><%= gist.imie %></td>
        <td><%= gist.nazwisko %></td>
        <td><%= gist.numeralbumu %></td>
        <td><%= link_to 'Show', gist %></td>
        <td><%= link_to 'Edit', edit_gist_path(gist) %></td>
        <td><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gist', new_gist_path %>
